<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <alias name="concreteObserver" alias="concreteObserver"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="bean.properties"/>
    </bean>

    <bean id="concreteSubject" class="dio.ConcreteSubject">
        <constructor-arg ref = "ListForRecipient"/>
        <!--<constructor-arg value="${prop.subject}"/>-->
        <!--<constructor-arg value="${prop.subject}"/>-->
        <!--<property value="${prop.subject}" name="subjectproperty"/>-->
    </bean>

    <util:list id="ListForRecipient">
        <value>First</value>
        <value>Second</value>
    </util:list>


    <bean id="listener" class="dio.SimpleApplicationListener"/>

    <beans profile="dev">
        <bean id="concreteObserver" class="dio.ConcreteObserver"/>
    </beans>


</beans>